@import url("https://fonts.googleapis.com/css2?family=Great+Vibes&family=Sacramento&display=swap");

body {
  scrollbar-face-color: rgba(255, 255, 255, 0.15);
  scrollbar-track-color: transparent;
}



body {
  display: grid;
 color : black;
}
body .card1 {
  padding: 2em;
  border-radius: 1em;
  border: 1px solid rgba(255, 255, 255, 0.5);
  background: rgba(255, 255, 255, 0.2);
  -webkit-backdrop-filter: blur(20px);
          backdrop-filter: blur(20px);
  transform: perspective(500px);
  transform-style: preserve-3d;
  box-shadow:
   -7px -7px 20px 0px #fff9,
   -4px -4px 5px 0px #fff9,
   7px 7px 20px 0px #0002,
   4px 4px 5px 0px #0001,
   inset 0px 0px 0px 0px #fff9,
   inset 0px 0px 0px 0px #0001,
   inset 0px 0px 0px 0px #fff9,        inset 0px 0px 0px 0px #0001;
}
body .card1 .welcome {
  transform: translateZ(20px);
}
